 <div class="col s3">
  		<div id="side-menu" class="" style="height:auto">
  			<%= image_tag("jack.png", class:"circle", alt:"Profile Picture") %>  
      <div class="collection">
	   <%= link_to 'New Short', new_short_path, class:'collection-item active' %>
	   <%= link_to 'Recent URLs', recent_urls_path, class:'collection-item' %>
	   <%= link_to 'Influential Users', top_users_path, class:'collection-item' %>
	   <%= link_to 'Popular URLs', popular_users_path, class:'collection-item' %>
	   <%#= link_to 'API KEY', api_users_path, class:'collection-item' %>
      </div>		
  		</div>
  	</div>